<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">

  <title>Edit Monsters</title>
</head>
<body>

    <h1>Edit your monster</h1>

   <form action="/custommonster/<%=customizedMonster.id%>?_method=PUT" method="POST">
    <div class="customNameAndPhoto">
        Name: <input type="text" name="name" placeholder="REQUIRED" value="<%=customizedMonster.name%>"/>
    </div>
      Image: <input type="url" placeholder="Image Link" name="img" value="<%=customizedMonster.img%>"/><br>
      Type: <input type="text" name="type" placeholder="REQUIRED" value="<%=customizedMonster.type%>"/><br>
      In Worls Location: <input type="text" name="location" value="<%=customizedMonster.location%>"/>
      
      <label for="used">Have you used this monster?</label>
      <select name="used" value="<%=customizedMonster.used%>">
        <option value="yes">Yes</option>
        <option value="no">No</option>
      </select>

      <label for="encounterType">Encounter Type</label>
      <select name="encounterType" value="<%=customizedMonster.encounterType%>">
        <option value="fight">Fight</option>
        <option value="social">Socialize</option>
        <option value="boss">Big Boss</option>
        <option value="help">Help the party</option>
        <option value="random">Random encounter</option>
      </select>

      <label for="combatType">Combat Type</label>
      <select name="combatType" value="<%=customizedMonster.combatType%>">
        <option value="brawl">Brawl</option>
        <option value="skirmish">Skirmish</option>
        <option value="magic">Magic</option>
        <option value="all">All</option>
        <option value="none">None</option>
      </select>
      
      <table>
        <tr>
          <td>CR</td>
          <td> <input type="text" name="CR" value="<%=customizedMonster.stats.CR%>"/></td>
        </tr>
        <tr>
          <td>AC</td>
          <td><input type="text" name="AC" value="<%=customizedMonster.stats.AC%>"/></td>
        </tr>
        <tr>
          <td>HP</td>
          <td><input type="text" name="HP" value="<%=customizedMonster.stats.HP%>"/></td>
        </tr>
      </table><br>

      <table>
        <tr>
          <td>STR</td>
          <td><input type="text" name="STR" value="<%=customizedMonster.stats.STR%>"/></td>
        </tr>
        <tr>
          <td>DEX</td>
          <td><input type="text" name="DEX" value="<%=customizedMonster.stats.DEX%>"/></td>
        </tr>
        <tr>
          <td>INT</td> 
          <td><input type="text" name="INT" value="<%=customizedMonster.stats.INT%>"/></td>
        </tr>
          <tr>
          <td>WIS</td> 
          <td><input type="text" name="WIS" value="<%=customizedMonster.stats.WIS%>"/></td>
        </tr>
        <tr>
          <td>CHA</td> 
          <td><input type="text" name="CHA" value="<%=customizedMonster.stats.CHA%>"/></td>
        </tr> 
      </table>
        Strengths: <input type="text" name="strengths" value="<%=customizedMonster.strengths%>" placeholder="List out general strengths"/><br>
        Strength Details:<br>
        <textarea type="text" name="strengthNotes" value="<%=customizedMonster.strengthNotes%>" rows="4" cols="50"></textarea><br>
        Weaknesses: <input type="text" name="weaknesses" value="<%=customizedMonster.weakness%>" placeholder="List out general weaknesses"/><br>
        Weakness Details:<br> 
        <textarea type="text" name="weaknessNotes" value="<%=customizedMonster.weaknessNotes%>" rows="4" cols="50"></textarea><br>
        Important Links:<br> <input type="url" name="importantLinks" value="<%=customizedMonster.importantLinks%>"/><br>
        Notes:<br> <textarea type="text" name="notes" value="<%=customizedMonster.notes%>" rows="4" cols="50"></textarea><br>
        <input type="submit" value="Save Changes"/><br>

       </form>
</body>

</body>
</html>
