<!DOCTYPE html>

<html>
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/style.css">
<link href="https://fonts.cdnfonts.com/css/dragon-hunter" rel="stylesheet"> 
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.cdnfonts.com/css/tex-gyre-bonum" rel="stylesheet">
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
<div class="header">
  <title>Your Monster</title>
</head>
<body>
  <%- include ('./partials/header.ejs') %>

  <nav class="navbar">
    <a href="/player"><i class="fa fa-fw fa-home"></i> Home</a> 
    <a href='/player/new'><i class="fa fa-plus"></i>  Add</a> 
    <a href="/player/<%=Player.id%>/edit"><i class="fa fa-edit"></i>Edit</a> 
  </nav>

  <div class="playersheet">
      <form action="/Player/<%=Player.id%>?_method=PUT" method="POST">

  <div class="player-top-row">
  <div class="name">
    <h3>DUNGEONS AND DRAGONS</h3>
    <input type="text" name="name" value="<%=Player.name%>">
    <p>CHARACTER NAME</p>
</div>

<div class="player-basic-info">
  <div id="player-row">
    <input type="text" name="basicInfo.class" value="<%=Player.basicInfo.class%>">
<p>CLASS</p>
</div>
  <div id="player-row">
    <input type="text" name="basicInfo.level" value="<%=Player.basicInfo.level%>">
  <p>LEVEL</p>
</div>
  <div id="player-row">
    <input type="text" name="basicInfo.race" value="<%=Player.basicInfo.race%>">
  <p>RACE</p>
</div>
  <div id="player-row">
    <input type="text" name="basicInfo.alignment" value="<%=Player.basicInfo.alignment%>">
  <p>ALIGNMENT</p>
</div>
  <div id="player-row">
    <input type="text" name="basicInfo.experiencePoints" value="<%=Player.basicInfo.experiencePoints%>">
  <p>EXPERIENCE POINTS</p>
</div>
</div>
</div>

<div class="player-info">
<div class="player-main-stats">
<div id="player-row">
  <input type="text" name="stats.STR" value="<%=Player.stats.STR%>">
<p>STRENGTH</p>
</div>
<div id="player-row">
  <input type="text" name="stats.DEX" value="<%=Player.stats.DEX%>">
<p>DEXTERITY</p>
</div>
<div id="player-row">
  <input type="text" name="stats.CON" value="<%=Player.stats.CON%>">
<p>CONSITITUTION</p>
</div>
<div id="player-row">
  <input type="text" name="stats.INT" value="<%=Player.stats.INT%>">
<p>INTELLIGENCE</p>
</div>
<div id="player-row">
  <input type="text" name="stats.WIS" value="<%=Player.stats.WIS%>">
<p>WISDOM</p>
</div>
<div id="player-row">
  <input type="text" name="stats.CHA" value="<%=Player.stats.CHA%>">
<p>CHARISMA</p>
</div>
</div>

<div class="player-skills-and-savingthrows">
<div class="player-saving-throws">
<h4>SAVING</h4><br> <h4>THROWS</h4>
<div id="player-row">
  <input type="text" name="savingThrows.strength" value="<%=Player.savingThrows.strength%>">
<p>STRENGTH</p>
</div>
<div id="player-row">
  <input type="text" name="savingThrows.dexterity" value="<%=Player.savingThrows.dexterity%>">
<p>DEXTERITY</p>
</div>
<div id="player-row">
  <input type="text" name="savingThrows.constitution" value="<%=Player.savingThrows.constitution%>">
<p>CONSITITUTION</p>
</div>
<div id="player-row">
  <input type="text" name="savingThrows.intelligence" value="<%=Player.savingThrows.intelligence%>">
<p>INTELLIGENCE</p>
</div>
<div id="player-row">
  <input type="text" name="savingThrows.wisdom" value="<%=Player.savingThrows.wisdom%>">
<p>WISDOM</p>
</div>
<div id="player-row">
  <input type="text" name="savingThrows.charisma" value="<%=Player.savingThrows.charisma%>">
<p>CHARISMA</p>
</div>
</div>

<div class="player-skills">
<h4>SKILLS</h4>
<div id="player-row">
  <input type="text" name="skills.acrobatics" value="<%=Player.skills.acrobatics%>">
<p>ACROBATICS</p>
</div>
<div id="player-row">
  <input type="text" name="skills.animalHandling" value="<%=Player.skills.animalHandling%>">
<p>ANIMAL HANDLING</p>
</div>
<div id="player-row">
  <input type="text" name="skills.arcana" value="<%=Player.skills.arcana%>">
<p>ARCANA</p>
</div>
<div id="player-row">
  <input type="text" name="skills.athletics" value="<%=Player.skills.athletics%>">
<p>ATHLETICS</p>
</div>
<div id="player-row">
  <input type="text" name="skills.deception" value="<%=Player.skills.deception%>">
<p>DECEPTION</p>
</div>
<div id="player-row">
  <input type="text" name="skills.history" value="<%=Player.skills.history%>">
<p>HISTORY</p>
</div>
<div id="player-row">
  <input type="text" name="skills.insight" value="<%=Player.skills.history%>">
<p>INSIGHT</p>
</div>
<div id="player-row">
  <input type="text" name="skills.intimidation" value="<%=Player.skills.intimidation%>">
<p>INTIMIDATION</p>
</div>
<div id="player-row">
  <input type="text" name="skills.investigation" value="<%=Player.skills.investigation%>">
<p>INVESTIGATION</p>
</div>
<div id="player-row">
  <input type="text" name="skills.medicine" value="<%=Player.skills.medicine%>">
<p>MEDICINE</p>
</div>
<div id="player-row">
  <input type="text" name="skills.nature" value="<%=Player.skills.nature%>">
<p>NATURE</p>
</div>
<div id="player-row">
  <input type="text" name="skills.perception" value="<%=Player.skills.perception%>">
<p>PERCEPTION</p>
</div>
<div id="player-row">
  <input type="text" name="skills.performance" value="<%=Player.skills.performance%>">
<p>PERFORMANCE</p>
</div>
<div id="player-row">
  <input type="text" name="skills.persuasion" value="<%=Player.skills.persuasion%>">
<p>PERSUASION</p>
</div>
<div id="player-row">
  <input type="text" name="skills.religion" value="<%=Player.skills.religion%>">
<p>RELIGION</p>
</div>
<div id="player-row">
  <input type="text" name="skills.sleightOfHand" value="<%=Player.skills.sleightOfHand%>">
<p>SLEIGHT OF HAND</p>
</div>
<div id="player-row">
  <input type="text" name="skills.stealth" value="<%=Player.skills.stealth%>">
<p>STEALTH</p>
</div>
<div id="player-row">
  <input type="text" name="skills.survival" value="<%=Player.skills.survival%>">
<p>SURVIVAL</p>
</div>
<div id="player-row">
  <input type="text" name="skills.passive" value="<%=Player.skills.passive%>">
<p>PASSIVE WISDOM/PERCEPTION </p>
</div>
</div>
</div>


<div class="personality">
<h4>PERSONALITY TRAITS</h4>
<p>TRAITS</p>
  <textarea class="player" type="text" name="personality.traits"  value="<%=Player.personality.traits%>" rows="4" cols="50"></textarea>
<p>IDEALS</p><br>
  <textarea class="player" type="text" name="personality.ideals"  value="<%=Player.personality.ideals%>" rows="4" cols="50"></textarea>
<p>BONDS</p><br>
  <textarea class="player" type="text" name="personality.bonds"  value="<%=Player.personality.bonds%>" rows="4" cols="50"></textarea>
<p>FLAWS</p><br>
  <textarea class="player" type="text" name="personality.flaws"  value="<%=Player.personality.flaws%>" rows="4" cols="50"></textarea>


</div>


<div class="notes">
  <h3>NOTES</h3><br>
  <textarea class="player" type="text" name="notes" value="<%=Player.notes%>" rows="4" cols="50"></textarea>
</div>
</div>
<input type="submit" value="Submit Player"><br>
</div>
</form>
</body>
</html>