<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">

  <title>Document</title>
</head>
<body>

    <h1>Customize your monster</h1>

   <form action="/custommonster/<%=customizedMonster.id%>?_method=PUT" method="POST">
  
        Name: <input type="text" name="name" placeholder="REQUIRED" value="<%=customizedMonster.name%>"/>
        Image: <input type="url" placeholder="Image Link" name="img" value="<%=customizedMonster.img%>"/>
        Version: <input type="text" name="version" placeholder="REQUIRED" value="<%=customizedMonster.version%>"/>
        Type: <input type="text" name="type" placeholder="REQUIRED" value="<%=customizedMonster.type%>"/>
        Has been used: <input type="checkbox" name="used" value="<%=customizedMonster.used%>"/>
        Location: <input type="text" name="location" value="<%=customizedMonster.location%>"/>
        Situation: <input type="text" name="situation" value="<%=customizedMonster.situation%>">
        Occupation: <input type="text" name="occupation" value="<%=customizedMonster.occupation%>"/>
        Encounter Type: <input type="text" name="encounterType" value="<%=customizedMonster.encounterType%>"/>
        Interaction Type: <input type="text" name="interactType" placeholder="Is it martial or social?" value="<%=customizedMonster.interactType%>"/>
        Combat Type: <input type="text" name="combatType" value="<%=customizedMonster.combatType%>" placeholder="Is this a boss? a random encounter?"/>
        CR: <input type="text" name="CR" value="<%=customizedMonster.CR%>"/>
        AC: <input type="text" name="AC" value="<%=customizedMonster.AC%>"/>
        HP: <input type="text" name="HP" value="<%=customizedMonster.HP%>"/>
        STR: <input type="text" name="STR" value="<%=customizedMonster.STR%>"/>
        DEX: <input type="text" name="DEX" value="<%=customizedMonster.DEX%>"/>
        INT: <input type="text" name="INT" value="<%=customizedMonster.INT%>"/>
        WIS: <input type="text" name="WIS" value="<%=customizedMonster.WIS%>"/>
        CHA: <input type="text" name="CHA" value="<%=customizedMonster.CHA%>"/>
        Strengths: <input type="text" name="strengths" value="<%=customizedMonster.strengths%>" placeholder="List out general strengths"/>
        Strength Details:<textarea type="text" name="strengthNotes" value="<%=customizedMonster.strengthNotes%>" rows="4" cols="50"></textarea>
        Weaknesses: <input type="text" name="weaknesses" value="<%=customizedMonster.weakness%>" placeholder="List out general weaknesses"/>
        Weakness Details: <textarea type="text" name="weaknessNotes" value="<%=customizedMonster.weaknessNotes%>" rows="4" cols="50"></textarea>
        Important Links: <input type="url" name="importantLinks" value="<%=customizedMonster.importantLinks%>"/>
        Notes: <textarea type="text" name="notes" value="<%=customizedMonster.notes%>" rows="4" cols="50"></textarea>
        <input type="submit" value="Customize Monster"/>
    </form>
</body>

</body>
</html>
