

  <%- include ('./partials/header.ejs') %>
<div class="basically-body">
  <div class="navbar">
    <a href="#"><i class="fa fa-fw fa-home"></i> Home</a> 
    <a href='/custommonster/new'><i class="fa fa-plus"></i>  Add</a> 
  </div>
    <div class="custommonsterheader">
    <h1 id="monstertext">Your Custom Monsters</h1>
  </div>
    <ul class ="characterprofile">
        <% for(let i = 0; i < customMonsters.length; i++){%>
          <div class="profile">
          <li>
            <img id="homepageimage" src="<%=customMonsters[i].img%>"><br>
          <a id="charactername" href="/custommonster/<%=customMonsters[i].id%>"><%=customMonsters[i].name%></a>
          <a id="characterused" href="/custommonster/<%=customMonsters[i].used%>"><%=customMonsters[i].used%></a>
          <a id="charactertype" href="/custommonster/<%=customMonsters[i].type%>"><%=customMonsters[i].type%></a>
        </li>
      </div>
        <%}%>
      </ul>
    

</body>
</html>
</div>