
  <title>Your Monster</title>
</head>
<%- include ('./partials/header.ejs') %>
<body class="view-your-monsters">
  
  <div class="navbar">
    <a href="/custommonster/"><i class="fa fa-fw fa-home"></i> Home</a> 
    <a href='/custommonster/new'>Delete</a> 
    <a href="/custommonster/<%=customizedMonster.id%>/edit"><i class="fa fa-edit"></i>Edit</a> 
    <a href='/custommonster/new'><i class="fa fa-plus"></i>  Add</a> 
  </div>

    <div class="customNameAndPhoto">
    <img src="<%=customizedMonster.img%>">Image</img> 
    <%=customizedMonster.name%>
    </div>
    <div class="mosterstats"> 
    Type: <%=customizedMonster.type%><br>
    Location: <%=customizedMonster.location%><br>
    Encounter Type:<%=customizedMonster.encounterType%><br>
    Combat Type: <%=customizedMonster.combatType%><br>
    </div>

<div class="table">
<table id="table-one">
  <tr>
    <th>Stats</th>
    <th>Stats</th>
  </tr>
<tr>
<td>
CR 
</td>
<td>
<%=customizedMonster.stats.CR%>
</td>
</tr>

<td>
  AC 
  </td>
  <td>
  <%=customizedMonster.stats.AC%>
  </td>
  </tr>

<tr>
<td>
  HP
</td>
<td>
  <%=customizedMonster.stats.HP%>
</td>
</tr>
</table>
<br>
<br>
<br>

  <table  id="table-two">
    <tr>
      <th>Stats</th>
      <th>Stats</th>
    </tr>
  <tr>
    <td>STR
    </td>
    <td>
      <%=customizedMonster.stats.STR%>
    </td>
  </tr>
  <tr>
    <td>DEX</td>
    <td><%=customizedMonster.stats.DEX%></td>
  </tr>
  <tr>
    <td>INT</td>
    <td><%=customizedMonster.stats.INT%></td>
  </tr>
  <tr>
    <td>WIS</td>
    <td><%=customizedMonster.stats.WIS%></td>
  </tr>
  <tr>
    <td>CHA</td>
    <td><%=customizedMonster.CHA%></td>
  </tr>
</table>
</div>

<div class="strengths">
Strengths: <%=customizedMonster.strengths%><br> 
Strength Notes:<br>
<%=customizedMonster.strengthNotes%>
Weaknesses: <%=customizedMonster.weaknesses%><br> 
Weakness Notes: <br>
<%=customizedMonster.weaknessNotes%><br>  
</div>   
    

</body>
</html>
