<!DOCTYPE html>

<html>
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/style.css">
<link href="https://fonts.cdnfonts.com/css/dragon-hunter" rel="stylesheet"> 
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.cdnfonts.com/css/tex-gyre-bonum" rel="stylesheet">
                
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
<div class="header">
  <title>Your Monster</title>
</head>
<%- include ('./partials/header.ejs') %>
<body class="view-your-monsters">
  
  <div class="navbar">
    <a href="/custommonster/"><i class="fa fa-fw fa-home"></i> Home</a> 
    <a href='/custommonster/new'>Delete</a> 
    <a href="/custommonster/<%=customizedMonster.id%>/edit"><i class="fa fa-edit"></i>Edit</a> 
    <a href='/custommonster/new'><i class="fa fa-plus"></i>  Add</a> 
  </div>

    <div class="customNameAndPhoto">
      <h4>Photo goes here. Figure out how to use ::after to get the ripped with the photo</h4>
    </div>



<div class="stats">
 <h3 id="viewname"><%=customizedMonster.name%></h3> 
  <div class="line"></div>

  <div class="main-stats">
    <b>Have they been used?</b> <%=customizedMonster.used%><br>
    <b>Challenge Rating</b> <%=customizedMonster.stats.CR%><br>
    <b>Armor Class</b> <%=customizedMonster.stats.AC%><br>
    <b>Hit Points</b> <%=customizedMonster.stats.HP%><br>
    </div>
    <div class="line"></div>

    <table style="width:100%" class="showtable">
      <tr id="statnames">
        <th>STR</th>
        <th>DEX</th>
        <th>INT</th>
        <th>WIS</th>
        <th>CHAR</th>
      </tr>
      <tr id="fightstats">
        <td><%=customizedMonster.stats.STR%></td>
        <td><%=customizedMonster.stats.DEX%></td>
        <td><%=customizedMonster.stats.INT%></td>
        <td><%=customizedMonster.stats.WIS%></td>
        <td><%=customizedMonster.stats.CHAR%></td>
      </tr>
    </table>
    <div class="line"></div>

<div class="monsterstats"> 
  <b>Type</b> <%=customizedMonster.type%><br>
  <b>Location</b> <%=customizedMonster.location%><br>
  <b>Encounter Type</b> <%=customizedMonster.encounterType%><br>
  <b>Combat Type</b> <%=customizedMonster.combatType%><br>
  </div>

  <div class="strengths">
    <b>Strengths</b> <%=customizedMonster.strengths%><br> 
      <b>Strength Notes:</b><br>
    <%=customizedMonster.strengthNotes%>
    <b>Weaknesses</b> <%=customizedMonster.weaknesses%><br> 
      <b>Weakness Notes</b><br>
    <%=customizedMonster.weaknessNotes%><br>  
    </div>   
</div>

<div class="notes">
  <h3>Notes</h3><br>
  <%=customizedMonster.notes%>
</div>

</body>
</html>
