<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">

  <title>Your Monster</title>
</head>
<body class="seeYourMonsters">
    <h1>See Your Custom Monster</h1>
    <div class="customNameAndPhoto">
    <img src="<%=customizedMonster.img%>">Image</img> 
    <%=customizedMonster.name%>
    </div>
    Type: <%=customizedMonster.type%><br>
    Location: <%=customizedMonster.location%><br>
    Encounter Type:<%=customizedMonster.encounterType%><br>
    Combat Type: <%=customizedMonster.combatType%><br>
Strengths: <%=customizedMonster.strengths%><br> 
Strength Notes:<br>
<%=customizedMonster.strengthNotes%>
Weaknesses: <%=customizedMonster.weaknesses%><br> 
Weakness Notes: <br>
<%=customizedMonster.weaknessNotes%><br> 

<table style="width:100%">
<tr>
<td>
CR 
</td>
<td>
<%=customizedMonster.stats.CR%>
</td>
</tr>

<tr>
<td>
  AC
</td>
<td>
  <%=customizedMonster.stats.AC%>
</td>
</tr>

<tr>
<td>
  HP
</td>
<td>
  <%=customizedMonster.stats.HP%>
</td>
</tr>
</table>

  <table style="width:100%">
  <tr>
    <td>
      STR
    </td>
    <td>
      <%=customizedMonster.stats.STR%>
    </td>
  </tr>
  <tr>
    <td>DEX</td>
    <td><%=customizedMonster.stats.DEX%></td>
  </tr>
  <tr>
    <td>INT</td>
    <td><%=customizedMonster.stats.INT%></td>
  </tr>
  <tr>
    <td>WIS</td>
    <td><%=customizedMonster.stats.WIS%></td>
  </tr>
  <tr>
    <td>CHA</td>
    <td><%=customizedMonster.CHA%></td>
  </tr>
</table>

      
    
    
    <nav>
        <a href="/custommonster">Home</a>
      </nav>
    

</body>
</html>
