<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/style.css">
<link href="https://fonts.cdnfonts.com/css/dragon-hunter" rel="stylesheet"> 
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.cdnfonts.com/css/tex-gyre-bonum" rel="stylesheet"> 
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>




  <div >
    <div>
    <h1>Your Player</h1>
  </div>
    <ul>
        <% for(let i = 0; i < Players.length; i++){%>
          <div >
          <li>
          <a  href="/Player/<%=Players[i].id%>"><%=Players[i].name%></a>
         <div>
          <a href="/Player/<%=Players[i].id%>"><%=Players[i].stats.DEX%></a>
          <a  href="/Player/<%=Players[i].id%>"><%=Players[i].basicInfo.class%></a>
          <a href="/Player/<%=Players[i].id%>"><%=Players[i].basicInfo.level%></a>
          <a  href="/Player/<%=Players[i].id%>"><%=Players[i].stats.AC%></a>
        </div>
        </li>
      </div>
        <%}%>
      </ul>
    

</body>
</html>
</div>